<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员中心 - {config.webname}</title>
<meta content="{config.webkeyword}" name="keywords">
<meta content="{config.webdescription}" name="description">
<link rel="stylesheet" href="{config.webpath}scripts/ui/skins/Aqua/css/ligerui-all.css" />
<link media="screen" type="text/css" href="{config.templateskin}/css/style.css" rel="stylesheet">
<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{config.webpath}scripts/ui/js/ligerBuild.min.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/base.js"></script>
</head>

<body>
<!-- header -->
<%template src=/_header.html/%>
<!-- end header -->

<div class="line15"></div>
<!--页面中间内容-->
<div class="wrap">
  <!--左边导航-->
  <div class="left170">
    <!--nav-->
    <%template src=/_ucenter_nav.html/%>
    <!--/nav-->
  </div>
  
  <!--右边列表-->
  <div class="right790">
    <%if {action}=="index"%>
    <!--当前位置-->
    <div class="location">您当前所在位置：<a href="<%linkurl("index")%>">首页</a> &gt; <a href="<%linkurl("usercenter","index")%>">会员中心</a></div>
    <div class="myhome">
      <h1>尊敬的<span class="red">{userModel.user_name}</span>，欢迎您：</h1>
    
      <div class="tip-box">
        <p>会员等级：{groupModel.title}</p>
        <p>上一次登录IP：{pre_login_ip}</p>
        <p>本次登录IP：{curr_login_ip}</p>
        <p>上一次登录时间：{pre_login_time}</p>
      </div>
      <div class="clear"></div>
      <h3>账户统计</h3>
      <div class="tip-box">
        <p>账户余额：<span class="red">{userModel.amount}</span>元</p>
        <p>账户积分：<span class="red">{userModel.point}</span>分</p>
        <p>未完成订单：<span class="red">1</span>个</p>
        <p>未读短信息：<span class="red">4</span>条</p>
      </div>
      <div class="clear"></div>
      <h3>短信息提醒</h3>
      <div class="msg-list">
        <ul>
          <li><span>2012-10-18 13:11:25</span><strong>[收件箱]</strong><a href="#">欢迎您注册成员本站会员用户</a></li>
          <li><span>2012-10-18 13:11:25</span><strong>[收件箱]</strong><a href="#">欢迎您注册成员本站会员用户</a></li>
          <li><span>2012-10-18 13:11:25</span><strong>[收件箱]</strong><a href="#">欢迎您注册成员本站会员用户</a></li>
          <li><span>2012-10-18 13:11:25</span><strong>[系统消息]</strong><a href="#">欢迎您注册成员本站会员用户</a></li>
        </ul>
      </div>
    </div>
    <%else if {action}=="password"%>
    <link rel="stylesheet" href="{config.webpath}css/validate.css" />
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/messages_cn.js"></script>
    <script type="text/javascript">
      $(function(){
	    //初始化表单
		AjaxInitForm('pwd_form', 'btnSubmit', 1);
	  });
    </script>
    <div class="location">您当前所在位置：<a href="<%linkurl("index")%>">首页</a> &gt; <a href="<%linkurl("usercenter","index")%>">会员中心</a> &gt; <a>修改密码</a></div>
    <div class="myhome">
      <form name="pwd_form" id="pwd_form" url="{config.webpath}tools/submit_ajax.ashx?action=user_password_edit">
      <div class="formTable">
        <dl>
          <dt>用户名：</dt>
          <dd>{userModel.user_name}</dd>
        </dl>
        <dl>
          <dt>旧密码：</dt>
          <dd><input name="txtOldPassword" id="txtOldPassword" type="password" class="input txt required" minlength="6" maxlength="50" /></dd>
        </dl>
        <dl>
          <dt>新密码：</dt>
          <dd><input name="txtPassword" id="txtPassword" type="password" class="input txt required" minlength="6" maxlength="50" /></dd>
        </dl>
        <dl>
          <dt>确认新密码：</dt>
          <dd><input name="txtPassword1" id="txtPassword1" type="password" class="input txt required" equalTo="#txtPassword" minlength="6" maxlength="20" /></dd>
        </dl>
        <dl>
          <dt></dt>
          <dd><input name="btnSubmit" id="btnSubmit" type="submit" class="btn_submit" value="确认修改" /></dd>
        </dl>
      </div>
      </form>
    </div>
    <%else if {action}=="proinfo"%>
    <link rel="stylesheet" href="{config.webpath}css/validate.css" />
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/messages_cn.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/calendar.js"></script>
    <script type="text/javascript">
      $(function(){
	    //初始化表单
		AjaxInitForm('info_form', 'btnSubmit', 1);
	  });
    </script>
    <div class="location">您当前所在位置：<a href="<%linkurl("index")%>">首页</a> &gt; <a href="<%linkurl("usercenter","index")%>">会员中心</a> &gt; <a>修改基本资料</a></div>
    <div class="myhome">
      <form name="info_form" id="info_form" url="{config.webpath}tools/submit_ajax.ashx?action=user_info_edit">
      <div class="formTable">
        <dl>
          <dt>用户名：</dt>
          <dd>{userModel.user_name}</dd>
        </dl>
        <dl>
          <dt>Email：</dt>
          <dd><input name="txtEmail" id="txtEmail" type="text" class="input txt required email" maxlength="50" value="{userModel.email}" /></dd>
        </dl>
        <dl>
          <dt>昵称：</dt>
          <dd><input name="txtNickName" id="txtNickName" type="text" class="input txt required" maxlength="50" value="{userModel.nick_name}" /></dd>
        </dl>
        <dl>
          <dt>性别：</dt>
          <dd>
            <%if {userModel.sex}=="男"%>
            <label><input name="rblSex" type="radio" value="男" checked="checked" />男</label> 
            <label><input name="rblSex" type="radio" value="女" />女</label>
            <label><input name="rblSex" type="radio" value="保密" />保密</label>
            <%else if {userModel.sex}=="女"%>
            <label><input name="rblSex" type="radio" value="男" />男</label>
            <label><input name="rblSex" type="radio" value="女" checked="checked" />女</label>
            <label><input name="rblSex" type="radio" value="保密" />保密</label>
            <%else%>
            <label><input name="rblSex" type="radio" value="男" />男</label>
            <label><input name="rblSex" type="radio" value="女" />女</label>
            <label><input name="rblSex" type="radio" value="保密" checked="checked" />保密</label>
            <%/if%>
          </dd>
        </dl>
        <dl>
          <dt>生日：</dt>
          <dd>
            <%if {userModel.birthday}==null%>
            <input name="txtBirthday" id="txtBirthday" type="text" class="input txt required" maxlength="30" onclick="return Calendar('txtBirthday');" />
            <%else%>
            <input name="txtBirthday" id="txtBirthday" type="text" class="input txt required" maxlength="30" onclick="return Calendar('txtBirthday');" value="<%datetostr({userModel.birthday},yyyy-M-d)%>" />
            <%/if%>
          </dd>
        </dl>
        <dl>
          <dt>联系电话：</dt>
          <dd><input name="txtTelphone" id="txtTelphone" type="text" class="input txt" maxlength="50" value="{userModel.telphone}" /></dd>
        </dl>
        <dl>
          <dt>手机号码：</dt>
          <dd><input name="txtMobile" id="txtMobile" type="text" class="input txt" maxlength="20" value="{userModel.mobile}" /></dd>
        </dl>
        <dl>
          <dt>在线QQ：</dt>
          <dd><input name="txtQQ" id="txtQQ" type="text" class="input txt" maxlength="20" value="{userModel.qq}" /></dd>
        </dl>
        <dl>
          <dt>联系地址：</dt>
          <dd><input name="txtAddress" id="txtAddress" type="text" class="input wide" maxlength="250" value="{userModel.address}" /></dd>
        </dl>
        <dl>
          <dt></dt>
          <dd><input name="btnSubmit" id="btnSubmit" type="submit" class="btn_submit" value="确认修改" /></dd>
        </dl>
      </div>
      </form>
    </div>
    <%else if {action}=="avatar"%>
    <link rel="stylesheet" href="{config.webpath}css/jquery.Jcrop.css" type="text/css" />
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.form.js"></script>
    <script src="{config.webpath}scripts/jquery/jquery.Jcrop.min.js" type="text/javascript"></script>
    <script src="{config.templateskin}/js/avatar.js" type="text/javascript"></script>
    
    <div class="location">您当前所在位置：<a href="<%linkurl("index")%>">首页</a> &gt; <a href="<%linkurl("usercenter","index")%>">会员中心</a> &gt; <a>设置头像</a></div>
    <div class="myhome">
      <h3>当前我的头像</h3>
      <p>如果您还没有设置自己的头像，系统会显示为默认头像，您需要自己上传一张新照片来作为自己的个人头像</p>
      <div class="img_box"><img src="{userModel.avatar}" width="180" height="180" /></div>
      <h3>设置我的新头像</h3>
      <p>上传成功后，请裁剪合适的头像确认保存后才能生效。</p>
      <form id="upload_form" name="upload_form">
      <div class="avatar_upload">
        <a href="javascript:;" class="files"><input type="file" id="FileUpload" name="FileUpload" onchange="Upload('{config.webpath}');" /></a>
        <span class="uploading">正在上传，请稍候...</span>
      </div>
      <div class="clear"></div>
      <div class="avatar_box">
        <div class="avatar_big_warp">
          <div class="avatar_big_box">
            <div class="avatar_big_pic">
              <img id="target" src="{config.templateskin}/images/pic_bg.png" />
            </div>
          </div>
        </div>
        <div class="avatar_small_warp">
          <div class="avatar_small_box">
            <div class="avatar_small_pic"><img id="preview" src="{config.templateskin}/images/pic_bg.png" /></div>
          </div>
          <p style="text-align:center;"><strong>头像预览区</strong></p>
          <p style="text-align:center;"><input name="btnSubmit" type="button" id="btnSubmit" value="确定保存" onclick="CropSubmit('{config.webpath}');return false;" /></p>
          <p>提示：生成头像大小180*180相素上传图片后，左侧选取图片合适大小，点击下面的保存按钮。</p>
        </div>
      </div>
      <input id="hideFileName" name="hideFileName" type="hidden" />
      <input id="hideX1" name="hideX1" type="hidden" value="0" />
      <input id="hideY1" name="hideY1" type="hidden" value="0" />
      <input id="hideWidth" name="hideWidth" type="hidden" value="0" />
      <input id="hideHeight" name="hideHeight" type="hidden" value="0" />
      <input id="turl" name="turl" type="hidden" value="<%linkurl("usercenter","avatar")%>" />
      </form>
    </div>
    <%else if {action}=="invite"%>
    <div class="location"><span><a href="javascript:;" onclick="clickSubmit('{config.webpath}tools/submit_ajax.ashx?action=user_invite_code');">申请邀请码</a></span>您当前所在位置：<a href="<%linkurl("index")%>">首页</a> &gt; <a href="<%linkurl("usercenter","index")%>">会员中心</a> &gt; <a>邀请码</a></div>
    <div class="line10"></div>
    <p>您购买的邀请码会在失效之后由系统定时清理，不会长期驻留在列表中</p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ftable">
      <tr>
        <th align="left">邀请码</th>
        <th width="150">申请时间</th>
        <th width="150">过期时间</th>
        <th width="80">已使用次数</th>
        <th width="80">状态</th>
      </tr>
      <%set (DataTable){list1}=get_user_invite_list(0, "user_name='"+userModel.user_name+"'")%> <!--取得一个DataTable-->
      <%loop dr list1%>
      <tr>
        <td>{dr[str_code]} &nbsp; <a href="javascript:;" onclick="copyText('邀请码：{dr[str_code]}');">[复制]</a></td>
        <td align="center">{dr[add_time]}</td>
        <td align="center">
          <%if {dr[eff_time]}==""%>
          无限制
          <%else%>
          {dr[eff_time]}
          <%/if%>
        </td>
        <td align="center">{dr[count]}</td>
        <td align="center">
          <%if get_invite_status({dr[str_code]})%>
          有效
          <%else%>
          已失效
          <%/if%>
        </td>
      </tr>
      <%/loop%>
      <%if list1.Rows.Count<1%>
      <tr><td align="center" colspan="5">暂无记录</td></tr>
      <%/if%>
    </table>
    <%/if%>
  </div>
  <!--右边列表-->
  
</div>

<!--footer-->
<%template src=/_footer.html/%>
<!--end footer-->
</body>
</html>
