@charset "utf-8";
/* CSS Document */
@import url("layout.css");
/*全局通用
====================================================*/
section,article,aside,header,footer,nav,figure{ display:block; }
body,h1,h2,h3,h4,h5,h6,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{ margin:0; padding:0; }
body,button,input,select,textarea{ font:12px/1.5 arial; }
h1,h2,h3,h4,h5,h6,button,input,select,textarea{ font-size:100%; }
address,cite,dfn,em,var{ font-style:normal; }
code,kbd,pre,samp{ font-family:courier new,courier,monospace; }
small{ font-size:12px; }
ul,ol{ list-style:none; }
a{ color:#5b5b5b; text-decoration:none; }
a:hover{ color:#0089cd; text-decoration:underline; }
s{ text-decoration:none; }
sup{ vertical-align:text-top; }
sub{vertical-align:text-bottom; }
legend{ color:#000; }
fieldset,img{ border:0; }
table{ border-collapse:collapse; border-spacing:0; }
input::-moz-focus-inner,button::-moz-focus-inner{ border:0;padding:0;outline:0; }
a.btnlink{ padding:2px 10px; color:#fff; font-size:12px; line-height:12px; font-family:"Microsoft YaHei"; border:1px solid #BE610C; background:#D78037; cursor:pointer;}
*html{ zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}
(this))}
body{ background:#fff; color:#333; font-size:12px; font-family:"宋体",Arial; }
.left{float:left;}
.right{float:right;}
.clear{clear:both;font-size:0px;height:0px;overflow:hidden; }
.red{ color:#F00; }
.gray{ color:#666; }
.marB30{ margin-bottom:30px; }
.padB15{ padding-bottom:15px }
.line5{clear:both;font-size:0px;height:5px;overflow:hidden;}
.line10{clear:both;font-size:0px;height:10px;overflow:hidden;}
.line15{clear:both;font-size:0px;height:15px;overflow:hidden;}
.line20{clear:both;font-size:0px;height:20px;overflow:hidden;}
.line30{clear:both;font-size:0px;height:30px;overflow:hidden;}

input.wide{ width:250px; }
input.txt{ width:200px;}
input.small{ width:50px; }
.input{ display:inline; margin-right:5px; padding:5px; height:18px; line-height:18px;vertical-align: middle; background:#fff; color:#999px; border:1px solid #CACACA; border-radius:4px 4px 4px 4px;}


.location{ border-bottom:1px solid #e1e1e1; height:42px; line-height:42px; font-family:"Microsoft YaHei"; font-size:14px; color:#999; font-weight:normal; }
	.location span{ float:right; }
.box{ border:1px solid #E1E1E1; }
	.box h2{ margin:0 10px; border-bottom:1px dotted #B9B9B9; height:41px; font-family:"Microsoft YaHei"; }
	.box h2 strong{ float:left; margin:7px 0 0; font-size:18px; font-weight:600; }
	.box h2 cite{ float:right; margin:15px 0 0; font-weight:normal; }
	.box h2 cite a{ margin:0 15px; }
	.box h3{ margin:0 10px; border-bottom:1px dotted #B9B9B9; color:#666; font-size:14px; height:41px; line-height:41px; font-family:"Microsoft YaHei"; }
	.box h3 em{ background:#f6c11e; display:inline; float:left; height:15px; margin:13px 8px 13px 0; width:4px; }
	.box h3 strong{ float:left; }
	.box h3 cite{ float: right; font-weight:100; word-wrap:break-word; }
	.box h3 img{ margin:0 0 0 5px; vertical-align:middle; }
	.box h3 a:link, box h5 a:visited{ color:#666; }
	.box h4{ margin:0 20px; border-bottom:1px dotted #B9B9B9; height:39px; font-family:"Microsoft YaHei"; }
	.box h4 strong{ float:left; margin:8px 0 0; font-size:14px; font-weight:600; }
	.box h4 cite{ float:right; margin:14px 0 0; font-weight:normal; }
	.box h4 cite a{ margin:0 10px; }
	.box ul{ margin:0 10px; }
.red-list,.red-list2{ padding:3px 0; }
	.red-list li{ padding-left:12px; height:25px; line-height:25px; font-size:12px; background:url(../images/dot.gif) no-repeat 2px 12px; overflow:hidden; }
	.red-list2 li{ padding-left:12px; height:28px; line-height:28px; font-size:12px; background:url(../images/dot.gif) no-repeat 2px 12px; overflow:hidden; }
	.red-list li span,.red-list2 li span{ float:right; padding-left:5px; color:#999; }
.img-list{ margin:10px 0 0 0; width:250px; overflow:hidden;}
	.img-list ul{ width:260px; }
		.img-list ul li{ float:left; margin:0 18px 10px 0; text-align:center; }
		.img-list ul li a img{ margin:0 auto; width:100px; height:100px; }
		.img-list ul li a span{ display:block; line-height:20px; width:110px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.slide-list{}
	.slide-list ul{}
	.slide-list ul li{ padding:10px 0 0 30px; height:24px; position:relative; color:#5b5b5b; vertical-align:top; }
	.slide-list ul li a{ display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
	.slide-list ul li .num{ position:absolute; left:0px; top:8px; display:inline-block; vertical-align:-3px; *vertical-align:middle; width:20px; height:20px; margin-right:10px; background:#1389d7; font-style:normal; color:#fff; font-family:Verdana, Geneva, sans-serif; text-align:center; overflow:hidden;}
	.slide-list ul li.active .num{ top:9px; background:#d60007; font-family:Georgia, "Times New Roman", Times, serif; }
	.slide-list ul li span{ float:right; color:#999; }
.nav-list{ padding-bottom:10px; font-family:"Microsoft Yahei"; }
	.nav-list:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
	.nav-list li{ clear:both; padding-bottom:10px; }
		.nav-list li h4{ margin:0; padding-left:15px; border:none; color:#666; font-size:14px; font-weight:bold; height:30px; line-height:30px; background:url(../images/icon_arrow.png) no-repeat left center; }
		.nav-list li .list{ margin-left:15px; }
		.nav-list li .list a{ display:block; float:left; margin: 5px 10px 5px 0; padding:2px 10px 2px 0; border-right:1px solid #DDDDDD; font-size:12px; height:12px; line-height:12px; }
		.nav-list li .list a.current{ padding: 2px 5px; background:#3991D0; border-right:none; color:#fff; }

/*顶踩
-------------------------------------------------------*/
.newdigg{ clear:both; margin:30px auto; padding-left:8px; width:406px; height:51px; overflow:hidden; }
.diggbox{ float:left; margin-right:8px; width:195px; height:51px; overflow:hidden; cursor:pointer; }
	.diggbox .digg_act{ float:left; font-size:14px; font-weight:bold; line-height:31px; text-indent:32px; height:29px; overflow:hidden; }
	.diggbox .digg_num{ float:left; line-height:29px; text-indent:5px; }
	.diggbox .digg_percent{ clear:both; padding-left:10px; width:180px; overflow:hidden; }
		.diggbox .digg_percent .digg_percent_bar{ float:left; margin-top:3px; width:100px; height:7px; background:#E8E8E8; border-right:1px solid #CCC;  overflow:hidden; }
		.diggbox .digg_percent .digg_percent_num{ float:left; padding-left:10px; font-size:10px; }
		.diggbox .digg_percent .digg_percent_bar span{ display:block; height:5px; background:#000; overflow:hidden; }
.newdigg .digg_good{ background:url(../images/newdigg-bg.png) left top no-repeat; }
.newdigg .digg_bad{ background:url(../images/newdigg-bg.png) right top no-repeat; }
.newdigg .digg_good .digg_act{ color:#C30; }
.newdigg .digg_good .digg_num{ color:#C63; }
.newdigg .digg_bad .digg_act{ color:#36C; }
.newdigg .digg_bad .digg_num{ color:#39C; }
.newdigg .digg_good .digg_percent .digg_percent_bar span{ color:#ff0000; border:1px solid #E37F24; background:#FFC535; }
.newdigg .digg_bad .digg_percent .digg_percent_bar span{ border:1px solid #689ACC; background:#94C0E4; }

/*评论
-----------------------------------------------------*/
.comment_box{ margin:0px auto 20px auto; padding-top:20px; border-top:1px solid #cde0ec; }
.comment_box h3{ margin:0 0 10px 0; padding:0 0 0 20px; font-size:14px; line-height:30px; border-bottom: 1px solid #999; background:url(../images/icon_comment.gif) no-repeat left 8px; }
.comment_box h3.add{ background-position:left -43px;}
.comment_box h3 span{ float:right; font-weight:normal; font-size:12px; }
.comment_list ul{ list-style-type: none; }
.comment_list ul li{ margin-bottom:15px; border-bottom:1px solid #E1E1E1; margin-left: 0px; }
.comment_list ul li .title{ padding-left:20px; font-weight:bold; line-height:30px; background:url(../images/icon_comment.gif) no-repeat 0 -92px; }
.comment_list ul li .title span{ float:right; font-size:12px; color:#999; font-weight:normal; }
.comment_list ul li .box{ margin-bottom:10px; line-height:1.8em; color:#333; }
.comment_list ul li .reply{ margin-bottom: 15px; padding:3px 10px; border:1px solid #F0C59D; color:#F60; background:#F4EDDD; line-height:1.5em; }
.comment_list ul li .reply .time{ float:right; color:#999; }
.comment_add textarea{ width:614px; height:80px; overflow:auto; }
.comment_add .btns{ margin-top: 10px;}
.comment_add .btns .submit{ float: right; }

/*全局通用.结束*/

/*页面头部
====================================================*/
/*顶部导航*/
.topnav,.topnav a{color:#666;}
.topnav a:hover{color:#06F; /*#c00;*/ text-decoration:none;}
.topnav{ height:25px; padding-top:2px; position:relative; z-index:46; background:#EFEFEF; color:#666; min-width:980px; }
.topnav-bd{width:980px;margin:0 auto;*zoom:1;_height:25px;_overflow:hidden;}
.topnav-l{float:left;overflow:hidden;*zoom:1;line-height:25px;}
.topnav-l li{float:left;margin-right:12px;}
.topnav-r{float:right;margin-top:3px;}
.topnav-r li{float:left;margin-right:9px;}
/*LOGO查询*/
.top-header{height:84px;background:#fff;*zoom:1;}
.top-header-bd{height:84px;width:980px;margin:0 auto;background:#fff;}
	.top-header-bd .logo{display:block;float:left;margin-top:12px;width:280px;height:59px;text-indent:-9999px;background:url(../images/logo.gif) no-repeat;overflow:hidden;}
	.top-header-bd .search{float:right;margin-top:20px; padding:5px; width:280px; background:#eaeaea; border-radius:3px;}
	.top-header-bd .search_txt {float:left;background:#fff;margin:0px;padding:3px 8px;height:24px;line-height:24px;width:230px;border:1px solid #ebebeb; border-right:0px;font-family:"Microsoft YaHei";color:#666;}
	.top-header-bd .search_btn{float:left;margin:0px;background:url(../images/search.gif) no-repeat left bottom;text-indent: -6000px;padding:0px;height:32px;width:32px;border:0px none #FFF;cursor:pointer;}
	.top-header-bd .search_btn:hover {margin:0px;background:url(../images/search.gif) no-repeat left top;text-indent:-99999px;padding:0px;height:32px;width:32px;border:0px none #FFF; }
/*主导航*/
.top-menu{ clear:both; text-align:left; min-width:980px; }
	.top-menu-bd{ margin:0 auto; position:relative; z-index:41; width:980px; height:40px; background:#3991D0; }
	.top-menu-ul{ *zoom:1; _overflow:hidden; _height:40px; width:980px; }
		.top-menu-ul li{ position:relative; float:left; height:40px; }
		/*.top-menu-ul li.line{width:1px; height:14px; font-size:0; background:#BEBEBE; margin:11px 10px 0 -3px; padding:0; }
		.top-menu-ul li.last{ margin:0; float:right; }*/
		.top-menu-ul li a{ display:inline-block; padding:0 20px; height:40px; line-height:40px; font-size:14px; font-family:"Microsoft YaHei"; color:#fff; letter-spacing:1px; }
		.top-menu-ul li a:hover,
		#home li.home a,
		#news li.news a,
		#goods li.goods a,
		#photo li.photo a,
		#down li.down a{ color:#333; background:#eaeaea; text-decoration:none; }

/*首页内容.开始===================================================*/
.ibox{ padding-bottom:24px; width:980px; margin:0 auto; text-align:left; }
.ibox .ibd{ padding-top:15px; }
	.ibox .ibd:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.ibox .ihead{ height:28px; border-bottom:2px solid #eaeaea; position:relative; }
	.ibox .ihead h3{ float:left; margin:0 20px 0 0; padding:0; *zoom:1; height:19px; line-height:19px; color:#b54746; font:600 18px "Microsoft Yahei"; _display:inline; }
	.ibox .ihead .sub_nav{ float:left; padding-top:3px; font-size:14px; color:#c9c9c9; overflow:hidden; }
		.ibox .ihead .sub_nav li{ float:left; padding:0 9px 0 11px; background:url(http://static.paipaiimg.com/news_v2/bg_info.png) no-repeat -254px -92px;}
		.ibox .ihead .sub_nav li.n1{ background:none; }
		.ibox .ihead .sub_nav a{ float:left;color:#666666; line-height:1.2; line-height:1.3\9; *line-height:1.2; font-family:"Microsoft Yahei"; }
		.ibox .ihead .sub_nav a:hover{ color:#0089cd; }
		.ibox .ihead i{ position:absolute; left:0; top:28px; display:block; height:2px; width:305px; background:#b54746; overflow:hidden; }
.photo .ihead h3{ color:#967447; }
.photo .ihead i{ background:#967447; }
/*焦点图*/
.ifocus{ width:304px; height:304px; visibility:hidden; }
.ifocus img{ width:304px; height:304px; }
/*
.ifocus .absbg{position:absolute;top:226px;left:0px;width:285px;height:35px;background:#000000;filter:alpha(opacity=60);opacity: 0.6;}
.ifocus .abs{position:absolute;top:231px;left:10px;width:285px;color:#fff;font:18px/25px "Microsoft Yahei";z-index:2;}*/

/*头条新闻*/
.icnts h3.tit{height:39px;padding-top:2px;line-height:36px;font:18px "Microsoft Yahei";text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:328px;}
.icnts h3.tit a{color:#454545;}
.icnts h3.tit a:hover{color:#0089cd;}
.icnts .list{padding-bottom:7px;margin-bottom:14px;border-bottom:1px dotted #9d9d9d;}
.icnts .last{border-bottom:0;margin-bottom:0;padding-bottom:0;}
.icnts .list li{padding-bottom:3px;height:23px;font-size:14px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;-width:100%;}
.icnts .list span{color:#979797;padding-right:8px;}
.icnts .list li a{color:#666;}
.icnts .list li a:hover{color:#0089CD;}

/*资源下载*/
.idown-list ul{ margin:0; }
	.idown-list ul li{ position:relative; font-size:12px; line-height:18px; padding:12px 0 8px 52px;  vertical-align:bottom; }
	.idown-list ul li img{ position:absolute; width:42px; height:42px; left:0px; -left:-54px; top:10px; }
	.idown-list ul li .date{ color:#888888; }
	.idown-list ul li a{ vertical-align:baseline; color:#666; font-size:12px; font-weight:600; }
	.idown-list ul li a:hover{color:#0089CD;}
	.idown-list ul li a.down{ display:block; position:absolute; right:0px; top:20px; width:18px; height:17px; text-indent:-9999px; background:url(../images/icon_down.gif) no-repeat; overflow:hidden; }
	
/*商品列表*/
.igoods-list{ float:left; width:675px; overflow:hidden; }
	.igoods-list ul{width:715px;}
	.igoods-list ul li{ float:left; margin-right:40px; width:196px; height:250px; }
	.igoods-list ul li .pic{ display:block; margin:0 auto; position:relative; width:196px; height:196px; border:1px solid #e1e1e1; }
	.igoods-list ul li .pic img{ width:196px; height:196px; }
	.igoods-list ul li .info .name{ color:#666; display:block; margin:4px auto 4px 10px; width:176px; text-overflow:ellipsis; white-space:nowrap;overflow:hidden; }
	.igoods-list ul li .info .price{ margin:0 auto 4px 15px; }
		.igoods-list ul li .info .price span{ color:#666; }
		.igoods-list ul li .info .price strong{ font-size:14px; color:#F00; font-family:'Microsoft YaHei'; }

/*热门排行*/
.isidebar{float:right;width:270px;}
.islide-box{ padding:4px 0 0 0; }
	.islide-box .head{ height:27px; position:relative; z-index:2; }
	.islide-box .head h3{float:left; line-height:17px; overflow:hidden; color:#666; font:bold 17px "Microsoft Yahei";}
	.islide-box .list{ padding-top:4px; overflow:hidden; position:relative; }
		.islide-box .list ol li{ padding:10px 0 0 30px; height:26px; position:relative; color:#5b5b5b; border-bottom:1px dotted #c4c4c4; vertical-align:top; }
		.islide-box .list ol li a{ color:#5b5b5b; } .islide-box .list ol li a:hover{ color:#0089cd; }
		.islide-box .list ol li .num{ position:absolute; left:0px; top:8px; display:inline-block; vertical-align:-3px; *vertical-align:middle; width:20px; height:20px; margin-right:10px; background:#1389d7; font-style:normal; color:#fff; font-family:Verdana, Geneva, sans-serif; text-align:center; overflow:hidden;}
		.islide-box .list ol li .ibtn{ display:block; width:80px; height:22px; border:1px solid #FF641A; line-height:22px; color:#ffffff; text-align:center; overflow:hidden; background:#FB7635; }
		.islide-box .list ol li .ibtn:hover{ color:#ffffff; text-decoration:none; }
		.islide-box .list ol li .photo{ float:left; width:112px; display:none; }
		.islide-box .list ol li .photo img{ display:block; width:100px; height:100px; border:1px solid #979797; }
		.islide-box .list ol li .props{ overflow:hidden; *zoom:1; }
			.islide-box .list ol li .props .name{ width:168px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; line-height:1.4; }
			.islide-box .list ol li .props .sold{ position:absolute; top:5px; right:1px; white-space:nowrap; color:#979797; }
				.islide-box .list ol li .props .sold em{ padding:0 1px; color:#bb1a00; font-family:Verdana, Geneva, sans-serif; }
			.islide-box .list ol li .props .price{ color:#bb1a00; font:bold 16px arial; padding-top:3px; height:24px; display:none; }
			.islide-box .list ol li .props .btn{ display:none; }
	.islide-box .list ol li.active{height:auto;padding-bottom:10px;padding-top:10px;*zoom:1;overflow:hidden;}
		.islide-box .list ol li.active .num{top:9px;background-color:#d60007;}
		.islide-box .list ol li.active .photo,
		.islide-box .list ol li.active .price,
		.islide-box .list ol li.active .btn{display:block;}
		.islide-box .list ol li.active .name{height:36px;margin-top:-2px;width:auto;white-space:normal;line-height:18px;}
		.islide-box .list ol li.active .sold{position:static;color:#4c4c4c;}

/*图片分享*/
.iphoto ul{ width:980px; position:relative; height:335px; margin-top:15px; padding-bottom:15px; }
	.iphoto ul li{ position:absolute; }
		.iphoto ul li.a1{ left:0px; top:0px; width:250px; height:355px; overflow:hidden; }
		.iphoto ul li.a2{ left:262px; top:0px; width:232px; height:232px; overflow:hidden; }
		.iphoto ul li.a3{ left:262px; top:244px; width:110px; height:110px; overflow:hidden; }
		.iphoto ul li.a4{ left:384px; top:244px; width:110px; height:110px; overflow:hidden; }
		.iphoto ul li.a5{ left:504px; top:0px; width:110px; height:110px; overflow:hidden; }
		.iphoto ul li.a6{ left:626px; top:0px; width:110px; height:110px; overflow:hidden; }
		.iphoto ul li.a7{ left:504px; top:120px; width:110px; height:110px; overflow:hidden; }
		.iphoto ul li.a8{ left:626px; top:120px; width:110px; height:110px; overflow:hidden; }
		.iphoto ul li.a9{ left:504px; top:244px; width:232px; height:110px; overflow:hidden; }
		.iphoto ul li.a10{ left:748px; top:0px; width:110px; height:110px; overflow:hidden; }
		.iphoto ul li.a11{ left:871px; top:0px; width:110px; height:110px; overflow:hidden; }
		.iphoto ul li.a12{ left:748px; top:120px; width:232px; height:232px; overflow:hidden; }
	.iphoto ul li .absbg{ position:absolute; left:0px; top:0px; width:110px; height:110px; background:#000; filter:alpha(opacity=50); opacity:0.5; display:none; }
		.iphoto ul li.a1 .absbg{ width:250px; height:355px;}
		.iphoto ul li.a2 .absbg{ width:232px; height:232px;}
		.iphoto ul li.a9 .absbg{ width:232px;}
		.iphoto ul li.a12 .absbg{ width:257px; height:257px;}
	.iphoto ul li a{ position:absolute; padding:10px; font-size:12px; width:90px; height:90px; overflow:hidden; left:0px; top:0px; color:#fff; font-family:'Microsoft YaHei'; z-index:2; display:none; }
		.iphoto ul li:hover a{ display:block; text-decoration:none; }
		.iphoto ul li:hover .absbg{ display:block; }
		.iphoto ul li a strong{ line-height:2em; }
	.iphoto ul li img{ max-width:110px; _width:110px; }
	.iphoto ul li.a1 img{ max-width:none; min-width:250px; min-height:355px; _width:250px; _height:355px; }
	.iphoto ul li.a1 a{ padding:45px 20px 15px 30px; font-size:18px; width:200px; height:295px; }
	.iphoto ul li.a2 img{ max-width:232px; _width:232px;}
	.iphoto ul li.a2 a{ padding:45px 20px 15px 30px; font-size:18px; width:182px; height:172px; }
	.iphoto ul li.a9 img{ max-width:232px; _width:232px;}
	.iphoto ul li.a9 a{ padding:10px 20px 10px 20px; font-size:14px; width:192px; height:90px; }
	.iphoto ul li.a12 img{ max-width:232px; _width:232px;}
	.iphoto ul li.a12 a{ padding:10px 45px 15px 30px; font-size:18px; width:182px; height:232px; }

/*友情链接*/
.ilink-list{ width:980px; margin:0 auto; text-align:left; }
	.ilink-list h2{ font-size:16px; color:#333; height:34px; line-height:34px; border-bottom:2px solid #eaeaea; font-family:"Microsoft Yahei";  }
	.ilink-list h2 span{ float:right; font-size:14px; font-weight:normal; }
	.ilink-list .txt{ padding-top:10px; color:#CCC; line-height:24px; }
	.ilink-list .img{ margin:10px 0; width:980px; overflow:hidden; }
	.ilink-list .img ul{ width:995px; }
	.ilink-list .img ul li{ float:left; margin-right:11px; }
	.ilink-list .img ul li img{ width:88px; height:31px; }

/*网站底部*/
.footer{ clear:both; padding-bottom:20px; width:980px; border-top:1px solid #dddddd; clear:both; margin:20px auto auto auto; text-align:center; }
.foot-nav{ line-height:normal; padding-top:18px; }
	.foot-nav ul{ margin:0 auto; overflow:hidden; width:600px; }
	.foot-nav ul li{ border-left:1px solid #D9D9D9; float:left; height:14px; line-height:14px; margin:3px 0 1px -1px; overflow:hidden; padding:0 10px; font-size:12px; white-space:nowrap; }
.footer .copyright{ padding-top:10px; color:#666; line-height:1.8em; }
#login .footer,#register .footer{ border:none; }

/*
商品样式
=========================================================*/
.toolbar:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
	.toolbar h3{ margin:0; border-bottom:1px solid #e1e1e1; color:#333; font-size:16px; font-weight:bold; font-family:"Microsoft Yahei"; }
		.toolbar h3 em{ background:#FF6600; display:inline; float:left; height:16px; margin:13px 8px 13px 13px; width:4px; }
	.toolbar dl{ margin:0 10px; padding:0; font-family:"Microsoft Yahei"; }
	.toolbar dl dd{ margin:0; padding:5px 0; border-bottom:1px solid #ddd; }
	.toolbar dl dd.last{ border:none; }
	.toolbar dl dd h4{ margin:0px; padding:0 0 0 10px; border:none; height:30px; line-height:30px; font-size:14px; color:#333; overflow:hidden; }
	.toolbar dl dd ul li { padding-left:10px; line-height:30px; }
		.toolbar dl dd ul li a{ padding-left:10px; background:url(../images/icon_arrow_blue.gif) left 5px no-repeat; color:#3f81a9; text-decoration:none; width:130px;}
		.toolbar dl dd ul li a:hover{ color:#FF6600; text-decoration:none; }
.pro-list{ width:700px; overflow:hidden; }
	.pro-list ul{ width:730px; }
	.pro-list ul li{ float:left; margin:0 20px 0 0; width:160px; height:230px; overflow:hidden; }
	.pro-list ul li a img{ width:158px; height:158px; border:1px solid #e1e1e1; }
	.pro-list ul li .title{ margin-top:5px; width:220px; height:22px; line-height:22px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
	.pro-list ul li .price{ color:#F00; font-size:14px; font-family:"Microsoft Yahei"; font-weight:600; height:22px; line-height:22px; overflow:hidden;}
.pro-attr{ font-family:"Microsoft Yahei";}
	.pro-attr h1{ margin-bottom:10px; font-size:24px; font-family:"Microsoft Yahei"; font-weight:normal; line-height:30px; }
	.pro-items{ padding-bottom:10px; }
	.pro-items dl{ clear:both; padding:5px 0; font-size:14px; }
		.pro-items dl dt{ float:left; display:block; padding-right:5px; }
		.pro-items dl dd{}
	.pro-btns{ padding:10px; border:1px solid #EDD28B; background:#FFFCF5; }
		.pro-btns:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
		.pro-btns .input-box{ margin-bottom:5px; padding-bottom:10px; border-bottom:1px solid #eaeaea; }
			.pro-btns .input-box .txt{ padding:0 5px; border:1px solid #F5DA98; height:24px; line-height:24px; width:60px; }
		.pro-btns .btn-box{ padding:10px 0; position:relative; }
			.pro-btns .btn-box .add,.pro-btns .btn-box .buy,.pro-btns .btn-box .add-over,.pro-btns .btn-box .buy-over{ background:url(../images/car_btn_buy.png) no-repeat; display:block; float:left; height:37px; text-indent:-9999px; }
			.pro-btns .btn-box .add{ background-position:0 0; width:127px; }
			.pro-btns .btn-box .add-over{ background-position:0 -58px; width:127px; }
			.pro-btns .btn-box .buy{ background-position:0 -116px; margin-left:15px; width:127px; }
			.pro-btns .btn-box .buy-over{ background-position:0 -174px; margin-left:16px; width:127px; }
	
.itemnav{ border-bottom:2px solid #fd663b; height:35px; line-height:35px; overflow:hidden; }
	.itemnav ul{}
	.itemnav ul li{ float:left; font-size:14px; font-family:"Microsoft Yahei";  }
	.itemnav ul li a{ display:block; margin-right:2px; padding:0 30px; border:1px solid #ddd; height:35px; white-space:nowrap; }
.itemnav ul li a:hover,
.itemnav ul li a.current{ background:#fd663b; color:#fff; display:block; text-decoration:none; }
.itembox{ display:none; padding-top:10px; font-size:14px; font-family:"Microsoft Yahei"; }
	.itembox p{ font-size:14px; line-height:23px; padding:8px 0; text-align:justify; word-wrap:break-word; }
	.itembox img{ max-width:670px; }
/*购物车*/
.cart_info{z-index:2;padding:15px 10px 15px 60px;border:1px solid #DFC795;position:absolute;top:0px;left:0px;width:285px;height:auto;font-family:"宋体";}
.cart_success{background:url(../images/cart_btn.png) -132px 12px no-repeat #F7F2D0;}
.cart_error{background:url(../images/cart_btn.png) 12px -55px no-repeat #F7F2D0;}
.cart_info h4{margin-bottom:10px;color:#404040;font-size:14px;}
.cart_info p{margin:2px 0 6px;color:#404040;line-height:18px;}
.cart_info .price{font-size:13px;color:#F00;}
.cart_info .close{display:block;position:absolute;top:5px;right:5px;width:45px;height:15px;text-indent:-9999px;background:url(../images/cart_btn.png) 0 -35px no-repeat;cursor:pointer;}
.cart_info .long-btn{display:inline-block;width:100px;height:25px;line-height:25px;text-align:center;color:#fff;font-weight:bold;background:url(../images/cart_btn.png) no-repeat;cursor:pointer;}
.cart_table{margin:0 auto;border:1px solid #ccc;}
.cart_table th{background:#F3F3F3; font-weight:normal;}
.cart_table td{background:#fff;}
.cart_table td .img{padding:1px;width:60px;height:60px;border:1px solid #ccc;}
.cart_table td .reduce,.cart_table td .subjoin{display:inline-block;width:9px;height:9px;text-indent:-999em;background:url(../images/cart_icon.gif) no-repeat;overflow:hidden;}
.cart_table td .reduce{ background-position:-18px 0px;}
.cart_table td .subjoin{ background-position:0px 0px;}

/*
新闻资讯样式
==========================================================*/
.indexToppic{ }
	.indexToppic dl{ }
	.indexToppic dl dt{ margin-bottom:6px; border-bottom:1px dotted #B8B8B8; }
		.indexToppic dl dt strong{ display:block; margin:0 auto 10px auto;text-align:center; font-size:18px; color:#3991D0; font-family:"Microsoft Yahei"; }
		.indexToppic dl dt p{ padding-bottom:10px; line-height:20px; color:#999; }
		.indexToppic dl dd{ padding-left:12px; font-size:12px; height:28px; line-height:28px; background:url(../images/dot.gif) no-repeat 2px 12px; }
		.indexToppic dl dd span{ float:right; color:#999; }
.navToplist { clear:both; }
	.navToplist:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
		.navToplist .list{ float:left; margin:0; width:700px; }
		.navToplist .list h3{ border-bottom:1px solid #E1E1E1; color:#666; font-size:14px; height:41px; line-height:41px; font-family:"Microsoft YaHei"; }
		.navToplist .list h3 em{ background:#f6c11e; display:inline; float:left; height:15px; margin:13px 8px 13px 0; width:4px; }
		.navToplist .list h3 strong{ float:left; }
		.navToplist .list h3 cite{ float: right; font-weight:100; word-wrap:break-word; }
		.navToplist .list h3 img{ margin:0 0 0 5px; vertical-align:middle; }
		.navToplist .list h3 a:link, box h5 a:visited{ color:#999; }
		
		.navToplist .list dl{ margin-top:15px; }
		.navToplist .list dl dt{ margin:0 0 5px 0;}
		.navToplist .list dl dt img{ float:left; margin-right:10px; width:85px; height:85px;  }
		.navToplist .list dl dt strong{ display:block; margin-bottom:10px; font-size:14px; line-height:14px; color:#666; font-family:"Microsoft Yahei"; width:240px; text-overflow:ellipsis; white-space:nowrap;overflow:hidden; }
		.navToplist .list dl dt p{ padding-bottom:8px; color:#999; line-height:20px; }
		.navToplist .list dl dd{ clear:both; padding-left:12px; font-size:12px; height:28px; line-height:28px; background:url(../images/dot.gif) no-repeat 2px 12px; }
		.navToplist .list dl dd span{ float:right; color:#999; }
		
.news-list ul{ margin:10px 0;font-family:"Microsoft Yahei";}
	.contentPagelist h4 a,.contentPagelist h4 a:link{ color:#333; }
	.contentPagelist h4 a:hover{ color:#06F; }
	.news-list ul li{ padding-left:12px; height:30px; line-height:30px; font-size:14px; background:url(../images/dot.gif) no-repeat 2px 12px; overflow:hidden; }
	.news-list ul li span{ float:right; padding-left:5px; font-size:12px; color:#999; }
.news-info{ font-family:"Microsoft Yahei"; }
	.news-info:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
	.news-info h1{ color:#333; font-weight:normal; font-size:24px; margin-bottom:6px; padding:16px 0 8px; text-align:center;}
		.news-info h1 span{ color:#999; font-size:12px; font-weight:normal; line-height:20px; }
	.news-info .content{ font-size:14px; }
		.news-info .content p{ font-size:14px; line-height:23px; padding:8px 0; }
		.news-info .content img{ max-width:670px; }
	.news-info .related{ margin-top:15px;  padding:10px 0; border-top:1px dashed #ccc; font-size:14px; font-family:"Microsoft Yahei"; }
		.news-info .related h5{ font-size:14px; padding-bottom:4px; color:#333; font-weight:bold; }
		.news-info .related ul li{ padding-left:12px; background:url(../images/dot.gif) no-repeat 2px 10px; line-height:24px; }
		.news-info .related ul li span{ font-size:12px; padding:0 6px; color:#999; }
		
/* 图片放大镜样式3
-----------------------------------------------------------------*/
.pictureDIV { float: left; margin: 0 0 20px 0; }
.jqzoom{ float:left;border:none; position:relative; padding:0px; cursor:pointer; margin:0px; display:block; }
.zoomdiv{ z-index:100; position:absolute; top:0px; left:0px; background:#ffffff; border:1px solid #CCCCCC; display:none; text-align:center; overflow:hidden; }
.jqZoomPup{ z-index:10; visibility:hidden; position:absolute; top:0px;left:0px; width:20px; height:20px; border:1px solid #aaa; background:#ffffff /*url(../images/zoom.png) 50% center no-repeat*/;opacity: 0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter: alpha(Opacity=50);}
/*图片小图预览列表*/
.spec-preview{ width:292px; height:292px; border: 1px solid #CCC;}
.spec-preview .jqzoom img{ width:292px; height:292px; }
.spec-scroll{ clear:both; margin-top:5px; width:294px; }
	.spec-scroll .prev{ float:left; margin-right:5px; }
	.spec-scroll .next{ float:right; }
	.spec-scroll .prev,.spec-scroll .next{ display:block; font-family:"宋体"; text-align:center; width:10px; height:54px; line-height:54px; border:1px solid #CCC; background:#EBEBEB; cursor:pointer; text-decoration:none; }
.spec-scroll .items{ float:left;position: relative;width:261px; height:56px; overflow:hidden; }
	.spec-scroll .items ul{ margin:0; padding:0; list-style:none; position:absolute; width:999999px; height:56px; }
		.spec-scroll .items ul li{ float:left; margin:0px; padding:0px; width:65px; text-align:center; }
			.spec-scroll .items ul li img{ border:1px solid #CCC; padding:2px; width:50px; height:50px; }
			.spec-scroll .items ul li img:hover{ border:2px solid #FF6600; padding:1px; }
.productItem { float: left; margin: 0 0 20px 10px; padding: 10px; height: 330px; border-top: 1px dotted #ccc; border-bottom: 1px dotted #CCC; list-style: none;  width: 296px;  line-height: 34px; font-size: 14px; }
	.productItem li { margin: 0px; padding: 0px;}

/*
图片分享样式
==========================================================*/
.photo-list{ width:700px; overflow:hidden; }
	.photo-list ul{ width:730px; }
	.photo-list ul li{ float:left; padding:0 20px 20px 0; position:relative; width:220px; z-index:1; visibility:visible; opacity:1; }
	.photo-list ul li .img{ display:block; position:relative; }
		.photo-list ul li .img img{ display:block; width:220px; height:220px; }
		.photo-list ul li .img .info{ position:absolute; left:0; bottom:0; color:#fff; cursor:pointer; width:100%; height:70px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000',endColorstr='#66000000'); background:rgba(0,0,0,0.4); }
			.photo-list ul li .img .info h4{ padding:0 14px; font-size:18px; font-weight:bold; height:30px; line-height:30px; overflow:hidden; font-family:"Microsoft Yahei"; }
			.photo-list ul li .img .info p{ padding:0 14px; font-size:12px; height:35px; line-height:17px; overflow:hidden; font-weight:normal; }
.photo-info{ font-family:"Microsoft Yahei"; }
	.photo-info:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
	.photo-info h1{ padding-top:20px; color:#333; font-weight:100; font-size:24px; margin-bottom:6px; line-height:24px; }
		.photo-info h1 span{ color:#999; font-size:12px; font-weight:normal; line-height:40px; }
	.photo-info .content{ font-size:14px; }
		.photo-info .content p{ font-size:14px; line-height:23px; padding:8px 0; text-align:justify; word-wrap:break-word; }
		.photo-info .content img{ max-width:700px; }
	.photo-info .related{ margin-top:15px;  padding:10px 0 0; border-top:1px dashed #ccc; font-size:14px; font-family:"Microsoft Yahei"; width:700px; overflow:hidden; }
		.photo-info .related h5{ font-size:16px; padding-bottom:5px; color:#333; font-weight:normal; }
		.photo-info .related ul{ width:730px; }
			.photo-info .related ul li{ float:left; margin:10px 20px 0 0; }
			.photo-info .related ul li img{ width:70px; height:70px; }
			.photo-info .related ul li span{ display:block; width:70px; font-size:12px; color:#999; line-height:20px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
/*slide样式*/
#pic_box{ margin-bottom:20px; position:relative; width:700px; height:300px; text-align:center; }
#pic_show img{ display:none; *display:block; max-width:700px; width:expression((this.width>618)?700:this.width); }
.slide_box{ margin:0 auto; }

.slide_box .items{ float:left; position:relative; width:656px; height:64px; overflow:hidden; }
	.slide_box .items ul{ margin:0px; padding:0; position:absolute; list-style:none; width:999999px; }
	.slide_box .items ul li{ margin:0; padding:0; float:left; width:74px; }
	.slide_box .items ul li img{ width:60px; }
	.slide_box .items ul li a{ display:block; width:60px; height:60px; border:2px solid #fff; }
	.slide_box .items ul li a:hover{ border:2px solid #f8ae0f; }
	.slide_box .items ul li a.current{ margin:0; font-weight:normal; border:2px solid #4394D6; }

.big_prev,.big_next{ display:block; top:0px; text-indent:-9999px; position:absolute; left:0; width:50%; height:100%; background:url(../images/slide_bg.gif) no-repeat; cursor:pointer; }
.big_next{ left:auto; right:0; }
.big_prev:hover{ background:url(../images/big_prev.png) no-repeat left center; }
.big_next:hover{ background:url(../images/big_next.png) no-repeat right center; }

.small_prev,.small_next{ display:block; width:22px; height:60px; cursor:pointer; }
.small_prev{ float:left; background:url(../images/small_prev.png) no-repeat left center; }
.small_next{ float:right; background:url(../images/small_next.png) no-repeat right center; }
/*slide结束*/

.photo_nav{ padding:5px 0; }
	.photo_nav li{ float:left; width:50%; line-height:28px; font-size:12px; font-family:"Microsoft Yahei"; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
	.photo_nav li a{ padding-left:10px; background:url(../images/icon_arrow_blue.gif) left 5px no-repeat; }
	.photo_nav li a.current{ padding: 2px 5px; background:#3991D0; color:#fff; }
/*
资源下载样式
==========================================================*/
.down-list{ font-family:"Microsoft Yahei"; }
	.down-list ul li{ margin:20px 0 0; padding:0 0 20px; border-bottom:1px solid #B7CAD0; height:126px; border-bottom:1px solid #e1e1e1; }
		.down-list ul li img{ float:left; margin-right:10px; padding:3px; border:1px solid #DBDFE0; height:120px; width:120px; }
		.down-list ul li strong{ margin-bottom:15px; color:#414141; display:block; font-size:16px; line-height:18px; }
		.down-list ul li span{ padding:5px 10px; background:#F1F5F6; border:1px solid #DBDFE0; font-size:12px; }
		.down-list ul li p{ color:#999; font-size:12px; line-height:22px; margin-top:10px; }
.down-info{ font-family:"Microsoft Yahei"; }
	.down-info:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
	.down-info h1{ padding-top:20px; color:#333; font-weight:100; font-size:24px; margin-bottom:6px; line-height:24px; }
		.down-info h1 span{ color:#999; font-size:12px; font-weight:normal; line-height:40px; }
	.down-info .content{ font-size:14px; }
		.down-info .content p{ font-size:14px; line-height:23px; padding:8px 0; text-align:justify; word-wrap:break-word; }
		.down-info .content img{ max-width:700px; }
	.down-info .related{ margin-top:15px;  padding:10px 0; border-top:1px dashed #ccc; font-size:14px; font-family:"Microsoft Yahei"; }
		.down-info .related h5{ font-size:14px; padding-bottom:4px; color:#333; font-weight:bold; }
		.down-info .related ul li{ padding-left:12px; background:url(../images/dot.gif) no-repeat 2px 10px; line-height:24px; }
		.down-info .related ul li span{ font-size:12px; padding:0 6px; color:#999; }
.attach-list{ font-family:"Microsoft Yahei"; }
	.attach-list h3{ margin:10px 0 0 0; padding:0; clear:both; font-size:14px; line-height:30px; border-bottom:1px solid #ccc; }
	.attach-list ul{ margin:0; padding:10px; list-style:none; }
		.attach-list ul li{ margin:0; padding:0 0 0 30px; line-height:30px; background:url(../images/icon_down.gif) no-repeat left center; }
		.attach-list ul li span{ float:right; }
		.attach-list ul li i{ margin-left:10px; font-style:normal; color:#666; }
		
/*
会员中心样式
==========================================================*/
.msg_box{ font-family:"Microsoft Yahei"; }
	.msg_box h1{ margin-bottom:10px; font-size:18px; color:#333; line-height:1.8em; }
	.msg_box p{ font-size:12px; line-height:2.0em; color:#666; }
	.msg_box i{ font-size:12px; color:#063; font-style:normal; }
	.msg_box a{ margin:auto 3px; color:#3991D0;}
.icon_infor{ margin:30px 20px; padding-left:60px; background:url(../images/icon_infor.png) no-repeat; }
.icon_error{ margin:30px 20px; padding-left:60px; background:url(../images/icon_error.png) no-repeat; }
.icon_ok{ margin:30px 20px; padding-left:60px; background:url(../images/icon_ok.png) no-repeat; }
/*会员登录*/
.login-logo{ margin:0 auto; width:840px; padding:50px 0 10px 5px; }
	.login-logo h1{ color:#333; font-size:24px; font-family:"Microsoft Yahei"; }
	.login-logo h1 span{ font-size:18px; color:#666; font-weight:normal; }
.login-box{ margin:0 auto; padding:40px; width:760px; border:1px solid #E1E1E1; border-radius:5px; }
	.login-box .left-box{ float:left; padding-top:10px; width:400px; }
		.login-box .left-box dl{ clear:both; padding:8px 0; line-height:28px; font-size:14px; font-family:"Microsoft Yahei"; }
		.login-box .left-box dl dt{ display:block; float:left; width:70px; }
		.login-box .left-box dl dd{ margin-left:70px; }
		.login-box .left-box #msgtips{ display:none; font-size:12px; color:#F00; }
		.login-box .left-box dl dd .btn_login{ display:inline-block; margin-right:10px; padding:10px 30px; cursor:pointer; border:1px solid #16699b; background:#1E7BB3; color:#fff; font-size:18px; line-height:1em; font-family:"Microsoft Yahei"; }
	.login-box .center-box{ float:left; margin-left:20px; width:1px; height:240px; background:url(../images/login_line.gif) no-repeat; overflow:hidden; }
	.login-box .right-box{ display:inline; float:right; margin-top:20px; width:270px; }
		.login-box .right-box p{ text-align:center; font-size:14px; color:#F00; font-family:"Microsoft Yahei"; }
			.login-box .right-box p.button{ padding:8px 0 0;}
			.login-box .right-box p.button a{ display:inline-block; padding:10px 30px; border:1px solid #408f40; background:#52A152; color:#fff; font-size:18px; line-height:1em; font-family:"Microsoft Yahei"; }
			.login-box .right-box p.button a:hover{ text-decoration:none; }
			.login-box .right-box p.note{ padding-bottom:20px; font-size:18px; color:#666; font-weight:500; line-height:1.8em; }
	.login-box .center-box{ float:left; margin-left:20px; width:1px; height:240px; background:url(../images/login_line.gif) no-repeat; overflow:hidden; }
/*会员注册*/
.reg-box{ margin:0 auto; padding:20px; width:800px; border:1px solid #E1E1E1; border-radius:5px; }
	.reg-top{}
		.reg-top ul{ padding:10px 0 10px; height:23px; border-bottom:1px solid #FF6C1E; }
			.reg-top ul li{ float:left; padding:0 50px 0 10px; height:18px; font:bold 18px "Microsoft Yahei"; color:#666; }
			.reg-top ul li em{ margin-right:5px; padding:2px 5px; background:#999; color:#FFF; font-size:12px; font-family:Verdana, Geneva, sans-serif; }
		.reg-top .step .step1,
		.reg-top .stepsendmail .step2,
		.reg-top .stepcheckmail .step2,
		.reg-top .stepcheckerror .step2,
		.reg-top .stepverify .step2,
		.reg-top .stepsucceed .step3{ color:#FF6C1E; }
		
		.reg-top .step .step1 em,
		.reg-top .stepsendmail .step2 em,
		.reg-top .stepcheckmail .step2 em,
		.reg-top .stepcheckerror .step2 em,
		.reg-top .stepverify .step2 em,
		.reg-top .stepsucceed .step3 em{ background:#FF6C1E; }
	.reg-con{ margin-top:30px; }
		.reg-con dl{ clear:both; padding:8px 0; font-size:14px; line-height:28px; font-family:"Microsoft Yahei"; }
		.reg-con dl dt{ display:block; float:left; width:150px; text-align:right; }
		.reg-con dl dt em{ padding-right:5px; color:#FF0000; font-style:normal; }
		.reg-con dl dd{ margin-left:150px; padding-left:10px; }
		.reg-con dl dd i{ display:block; line-height:28px; color:#999; font-size:12px; font-style:normal; }
		.reg-con dl dd .btn_submit{ padding:10px 30px; border:1px solid #cf5413; background:#FF6C1E; color:#fff; font-size:18px; line-height:1em; font-family:"Microsoft Yahei"; cursor:pointer; }

.myhome{ margin-top:10px; font-family:"Microsoft Yahei"; }
	.myhome h1{ font:bold 18px/40px "microsoft yahei"; line-height:40px; }
	.myhome h3{ font:bold 14px "microsoft yahei"; line-height:40px; }
	.myhome .tip-box{ padding:10px 20px; }
	.myhome .tip-box:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
	.myhome .tip-box p{ display:block; float:left; width:50%; line-height:28px; font-size:12px; font-family:"Microsoft Yahei";  }
	.myhome h3.tit{ color:#333; font-weight:normal; font-size:14px; margin-bottom:6px; padding:0 0 8px;}
		.myhome h3.tit span{ color:#999; font-size:12px; font-weight:normal; line-height:20px; }
	.myhome .note{ line-height:1.5em; color:#333; font-family:"Microsoft Yahei";}
.msg-list{ padding:10px 20px; border:1px solid #e1e1e1; background:#FFFCF9; }
	.msg-list ul{}
	.msg-list ul li{ color:#666; line-height:30px; font-size:12px; font-family:"Microsoft Yahei"; }
	.msg-list ul li strong{ color:#333; margin-right:5px; }
	.msg-list ul li span{ float:right; color:#999; }
.formTable dl{ clear:both; padding:8px 0; font-size:12px; line-height:28px; font-family:"Microsoft Yahei"; }
	.formTable dl dt{ display:block; float:left; width:150px; text-align:right; }
	.formTable dl dt em{ padding-right:5px; color:#FF0000; font-style:normal; }
	.formTable dl dd{ margin-left:150px; padding-left:10px; }
	.formTable dl dd i{ display:block; line-height:28px; color:#999; font-size:12px; font-style:normal; }
	.formTable dl dd .btn_submit{ padding:10px 30px; border:1px solid #cf5413; background:#FF6C1E; color:#fff; font-size:14px; line-height:1em; font-family:"Microsoft Yahei"; cursor:pointer; }
.ftable{ width:100%; font-family:"Microsoft Yahei"; }
	.ftable th{ padding:0.6em; color:#333; font-weight:400; background:#f3f3f3; border-bottom:1px solid #DCDCDC; }
	.ftable td{ padding:0.6em; border-bottom:1px solid #F3F3F3; }
	.ftable .tr_odd_bg{ background:#F9F9F9; }
.tab_head{overflow:hidden;position:relative;}
	.tab_head .add{font-weight:700;position:absolute;right:4px;top:12px;z-index:100;color:#333;font-family:"Microsoft Yahei";}
.f_tab{ border-bottom:1px solid #CDCDCD; float:left; line-height:30px; margin:10px 0; width:100%; }
	.f_tab li{ float:left; margin:0 0 -1px 3px; }
	.f_tab .cur_tab{ position:relative; }
	.f_tab .cur_tab a{background:#FFF;border-bottom-color:#FFF;font-weight:700;}
	.f_tab a{ background:#E7F0F7; border:1px solid #CDCDCD; display:block; padding:0 10px; }
	.f_tab a:hover{text-decoration:none;}
.page_btns{float:left; font-family:"Microsoft Yahei";}
	.page_btns .pipe{color:#CBCBCB; margin:0 5px;}
/*用户头像样式*/
.img_box{margin:10px 0;border:1px solid #ccc;border-radius:3px;padding:2px;width:180px;}
.avatar_box{margin:10px 0;}
.avatar_big_warp{float:left;display:table;*position:relative;border:1px solid #ccc;border-radius:3px;padding:2px;width:350px;height:350px;overflow:hidden;}
.avatar_big_box{display:table-cell;*position:absolute;*top:50%;*left:0;*width:100%;vertical-align:middle;text-align:center;background:#f4f4f4;}
.avatar_big_pic{margin:auto;display:inline-block;*display:inline;_display:inline-block;*position:relative;*top:-50%;}
	.avatar_big_pic img{/*max-width:350px;max-height:350px;width:expression(this.width>350?"350px":this.width);*/}
.avatar_small_warp{float:left;margin-left:20px;width:186px;}
	.avatar_small_warp p{color:#666;font-family:"Microsoft Yahei";line-height:24px;}
	.avatar_small_warp #btnSubmit{ margin:10px auto;padding:5px 35px;border:1px solid #499949;background:#52A152;color:#fff;font-size:14px;line-height:1.5em;font-family:"Microsoft Yahei"; cursor:pointer;}
.avatar_small_box{margin-bottom:10px;padding:2px;border:1px solid #ccc;border-radius:3px;width:180px;height:180px;overflow:hidden;}
.avatar_small_pic{width:180px;height:180px;overflow:hidden;}

/*上传头像*/
.avatar_upload{margin:10px 0;}
.avatar_upload a.files{ margin:0 auto; float:left; width:120px; height:30px; overflow:hidden; display:block; border:1px solid #4fabe4; border-radius:3px; background:url(../images/icon_upbtn_bg.png) left top no-repeat;text-decoration:none; }
	.avatar_upload a.files input{ margin-left:-270px; font-size:24px; cursor:pointer; filter:alpha(opacity=0); opacity:0; }
	.avatar_upload a.files, .avatar_upload a.files input{ outline:none;/*ff*/hide-focus:expression(this.hideFocus=true);/*ie*/ }
	.avatar_upload .uploading{ float:left; background:url(../images/loading.gif) no-repeat left center; padding-left:18px;display:none; line-height:24px; height:24px; color:#333; }
	
/*订单状态样式*/
.order_flow{ margin:0 auto; padding:0; font-size:12px; font-weight:normal; padding-bottom:4px; }
	.order_flow_left, .order_flow_arrive, .order_flow_wait, .order_flow_right_arrive,
	.order_flow_right_wait{ margin:0; padding:0; background:url(../images/sprites_orderdetails.gif) no-repeat scroll 0 0; float:left; font-family:Arial; line-height:16px; text-align:center; width:90px; }
	.order_flow div span{ margin:0; padding:0; background:none repeat scroll 0 0 #FFFFFF; display:block;}
	.order_flow div span p{ margin:0; padding:0; }
	.order_flow .name { margin:0; padding:0 0 4px 0; }
	.order_flow_arrive { background-position: 0 -40px; }
	.order_flow_wait{ background-position:0 -20px; color:#878787; }
	.order_flow_right_arrive{ background-position: 0 -80px; }
	.order_flow_right_wait{ background-position:0 -60px; color:#878787; }
	.order_flow_input{ display:block; margin:2px auto; padding:0; width:20px; height:20px; text-indent:-999px; cursor:pointer; overflow:hidden;}
	
.order_box{ padding:15px 5px 10px; line-height:180%; }
	.accept_box{ text-align:left; line-height:24px; }
	.accept_box dl{ clear:both; }
	.accept_box dl dt{ width:80px; float:left; }
	.accept_box dl dd{}
.ltable{ border:1px solid #E3CFA4; }
	.ltable th{ background:#F3EBDA; }
	.ltable td{ border-top:1px solid #E3CFA4; }
	.ltable td img{ padding:1px;width:60px;height:60px;border:1px solid #ccc; }
